mat-card {
    margin: 16px auto 0;
    padding: 8px 24px;
    box-shadow: 3px 3px 5px 6px #ccc;
    width: 75%;

    display: flex;
    align-items: baseline;
    justify-content: space-around;

    animation: blinking-fade 3.5s infinite;
    animation-timing-function: linear;
}

p {
    text-align: left;
    margin: 24px;
}

@keyframes blinking-fade {
    0%   {  border-radius: 10px; border: solid 4px rgba(94, 0, 149, 0.5);}
    25% {   border-radius: 15px; border: solid 4px rgb(56, 42, 185, 0.75);}
    75% {   border-radius: 15px; border: solid 4px rgb(56, 42, 185, 0.75);}
    100%{  border-radius: 10px; border: solid  4px rgba(94, 0, 149, 0.5);}
}