<div class="mainContainer">
    <mat-toolbar>
        <div class="header">
            <i class="logo"></i>
            <h1 class="title">Sound Share</h1>
        </div>      
    </mat-toolbar>    
    <app-post 
        songName="Three Thirty" 
        songArtist="Reaper" 
        songURL="https://www.youtube.com/embed/BEKTloAExfs?start=165"
        songDescription="Chill bass solo that reminds me of how when I was a kid, I enjoyed to go big bass fishing.">
    </app-post>
    <app-post songName="The Others" songArtist="RENDEZ-VOUS" songURL="https://www.youtube.com/embed/fe6YO4KNbJk?start=160" songDescription="BING BANG DIDDY BA BOW WOW BOW WOW WOW. BING DANG DIDDY BOWOWOWOW" ></app-post>
</div>